extends baseEmail

block content
    h2 Welcome to Tenx, #{firstName}!
    h3 Your certificate has been minted.
    h4 Here is your asset ID: #{assetID}
    p - Use this asset ID to opt in your certificate.
    p If this is a mistake, please contact tenx@10academy.org.