extends baseEmail

block content
    h2 Hi, #{firstName}!
    h3 Conratulations on finishing up the course. You now have a Tenx digital certificate!
    h4 Visit #{assetID}, to view your certificate and metadata.
    